# Hugo default output directory
/public
# Haiku git checkout, used by "build_for_deploy" script
/haiku

# Scripts stuff
scripts/node_modules/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# OSX
.DS_Store
