{{ partial "header.html" . }}
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="main-front">
		<div class="col-md-12">
			<div class="node">
				<h1 class="title">Page not found</h1>
				<p style="margin-top:10px;">The file you are requesting cannot be found. Due to the recent redesign of the Haiku website, some pages have been relocated. You can Search for the information that you are looking for.</p>
			</div>
		</div>
	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
