<!doctype html>
<html lang="en">
<head>
	{{ partial "meta.html" . }}
	<meta name="description" content="Haiku is an open-source operating system that specifically targets personal computing. Inspired by BeOS, Haiku is fast and easy to learn but very powerful." />
	<meta name="keywords" content="haiku,haiku os,operating system,beos,open source,openbeos" />

	<title>Home | {{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Permalink }}">
	{{ partial "header.includes.html" . }}
	{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}
</head>
<body>
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="preface">
		<div class="col-md-4" id="preface-first">
			<p class="intro">Haiku is an open-source operating system that
			specifically targets personal computing. Inspired by the BeOS, Haiku is
			fast, simple to use, easy to learn and yet very powerful.</p>
			<ul>
				<li><a href="/about/faq/">Frequently Asked Questions</a></li>
				<li><a href="/slideshows/haiku-tour/">Haiku Slideshow</a></li>
				<li><a href="/docs/userguide/en/contents.html">Haiku User Guide</a></li>
				<li><a href="/guides/">Haiku Guides</a></li>
			</ul>
		</div>
		<div class="col-md-4" id="preface-middle">
			<div class="preface-install-badge" style="width: 340px; min-height: 126px; max-width: 100%;">
				<a href="/get-haiku/"><img src="/images/GET_HAIKU.PNG"></a>
			</div>
			<div class="preface-install-links">
				<h2>INSTALL HAIKU</h2>
				<ul>
					<li><a href="/get-haiku/release-notes/">Release Notes</a></li>
					<li><a href="/get-haiku/installation-guide/">Installation Guide</a></li>
				</ul>
			</div>
			<div class="preface-community-links">
				<h2>MEET THE COMMUNITY</h2>
				<ul>
					<li><a href="/community/ml/">Mailing Lists</a></li>
					<li><a href="/community/irc/">IRC Channels</a></li>
					<li><a href="https://discuss.haiku-os.org/">Forums</a></li>
					<li><a href="/community/getting-involved/">Getting Involved</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4" id="preface-last">
			{{ partial "fundraising.html" . }}
		</div>
	</div>
	<div class="row" id="main-front">
		{{ partial "home.html" . }}
	</div>
{{ partial "footer.copyright.html" . }}
</div>
<script src="/js/donationchart.js"></script>
{{ partial "footer.html" . }}
