{{ partial "header.html" . }}
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="main-front">
		<div class="col-md-12">
			<div class="node">
				<h1 class="title">Upcoming Events</h1>
				<p>
				<div class="pull-right text-center" style="background-color: #e4ffde; padding: 5px 10px; margin: 0 0 20px 20px;">
					<a href="/contact/">
						<img src="/images/App_People_64.png"><br>
						Add your event here!
					</a>
				</div>
				
				<p>The table below shows upcoming Haiku-related events and conferences where Haiku is scheduled to have a presence, either in the form of a booth, a talk or both. For more information for any specific event, click on the corresponding link under the <strong>Name</strong> column.</p>
				
				{{ $now := .Site.Lastmod.Unix }}

				{{ $.Scratch.Add "haveCurrentEvents" 0 }}
				{{ range where (where .Site.Pages "Type" "conference") ".Params.event" "!=" nil }}
					{{ if ge (time .Params.event.end).Unix $now }}
						{{ $.Scratch.Add "haveCurrentEvents" 1 }}
					{{ end }}
				{{ end }}

				{{ if ge ($.Scratch.Get "haveCurrentEvents") 1 }}
				<table class="table table-sm table-responsive">
					<tr>
						<th>Name</th>
						<th>Dates</th>
						<th>Homepage</th>
						<th>Country</th>
					</tr>
					{{ range (sort (where (where .Site.Pages "Type" "conference") ".Params.event" "!=" nil) "Date" "desc") }}
						{{ if ge (time .Params.event.end).Unix $now }}
						<tr>
							<td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
							<td style="white-space: nowrap;">{{ .Params.event.start }} - {{ .Params.event.end }}</td>
							<td><a href="{{ .Params.event.homepage }}">{{ .Params.event.homepage }}</a></td>
							<td style="white-space: nowrap;">{{ .Params.event.country }}</td>
						</tr>
						{{ end }}
					{{ end }}
				</table>
				{{ else }}
				<h2 class="text-center" style="color: #999;">No events available</h2>
				{{ end }}

				<div class="clearfix"></div>

				<h3>Past Events</h3>
				<table class="table table-sm table-responsive">
					<tr>
						<th>Name</th>
						<th>Dates</th>
						<th>Homepage</th>
						<th>Country</th>
					</tr>
					{{ range (sort (where (where .Site.Pages "Type" "conference") ".Params.event" "!=" nil) "Date" "desc") }}
						{{ if lt (time .Params.event.start).Unix $now }}
						<tr>
							<td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
							<td style="white-space: nowrap;">{{ .Params.event.start }} - {{ .Params.event.end }}</td>
							<td><a href="{{ .Params.event.homepage }}">{{ .Params.event.homepage }}</a></td>
							<td style="white-space: nowrap;">{{ .Params.event.country }}</td>
						</tr>
						{{ end }}
					{{ end }}
				</table>
				</p>
			</div>
		</div>
	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
