{{ partial "header.html" . }}
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="main-front">
		{{- if .Site.Params.BuildTypeIsDeploy -}}
		{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
		{{ $.Scratch.Add "path" .Site.BaseURL }}
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			{{ range $index, $element := split $url "/" }}
				{{ $.Scratch.Add "path" $element }}
				{{ if ne $element "" }}
					{{ $.Scratch.Add "path" "/" }}
					{{ range first 1 (where $.Site.Pages "Permalink" ($.Scratch.Get "path")) }}
						<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				{{ end }}
			{{ end }}
		</ol>
		{{- end -}}
		
		{{ $pageURL := .URL }}
		{{ $basePageComp := index (split $pageURL "/") 1 }}
		{{ $haveSidebar := in "about community development documents" $basePageComp }}

		{{ if $haveSidebar }}
		<div class="col-md-9 col-md-push-3">
		{{ else }}
		<div class="col-md-12">
		{{ end }}
			<div class="node">
				<h1 class="title">{{ .Title }}</h1>
				{{ if .Params.tags }}
					<div class="meta">
						<div class="terms">
						{{ range $i, $e := .Params.tags }}{{if $i}}, {{end}}
							<a href="/tags/{{ $e | urlize }}" rel="tag">{{ . }}</a>{{ end }}
						</div>
					</div>
				{{ end }}
				<p>{{ .Content }}</p>
			</div>
		</div>
		
		{{ if $haveSidebar }}
		<!-- Sidebar -->
		<div class="col-md-3 col-md-pull-9">
		{{ partial "sidebar_menu.html" . }}
		</div>
		{{ end }}
		
	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
