{{ partial "header.html" . }}
<body>
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="main-front">
		<!-- Sidebar -->
		<div class="col-md-3">
		{{ partial "sidebar_blog.html" . }}
		</div>

		<div class="col-md-9">
		{{ $paginator := .Paginate (where .Site.Pages "Type" "blog") }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
		</div>
	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
