body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	line-height: 2em;
	font-size: medium;
}
h1 {
	color: #0069b3;
	font-weight: bold;
	padding: 4px;
	border-left: #0069b3 10px solid;
	border-bottom: #0069b3 3px solid;
	width: 100%;
}
h2 {
	color: #0069b3;
	padding: 4px;
	border-left: #0069b3 3px solid;
	border-bottom: #0069b3 3px solid;
	width: 100%;
}
h3 {
	color: #0069b3;
	padding: 4px;
	border-bottom: #0069b3 3px solid;
	width: 100%;
}
hr {
	width: 100%;
	border:1px solid #0069b3;

}

address {
	width: 100%;
	line-height: 1.2em;
	text-align: center;
	font-style: normal;
}

a:link{
	text-decoration: underline;
	color: #0069b3;
}
a:link:hover{
	text-decoration: none;
	color: #0069b3;
}
a:visited{
	color: #0069b3;
	text-decoration: none;
}
a:active{
	text-decoration: none;
	color: #0069b3;
}

#imagebox {
	border: 1px solid blue;
	padding: 10px;
	margin: 1px;
}

#column {
	border: 2px solid blue;
	padding: 10px 20px;
	margin: 0px 10px;
	float: right;
	height: auto;
	vertical-align: top;
	text-align: center;
}

#listbox {
	border: 1px solid blue;
	padding: 10px;
	margin: 5px 1px;
	line-height: 1em;
}

#sourceH {
	font-weight: bold;
}

#column_t {
	font-weight: bold;
	font-size: 1.4em;
}

#idt1 {
	padding-left: 0px;
	font-size: 1.8em;
	line-height: 2.4em;
}

#idt2 {
	padding-left: 20px;
	font-size: 1.2em;
	line-height: 2.0em;
}

#idt3 {
	padding-left: 40px;
	font-size: 1em;
	line-height: 1.6em;
}

#annotate dl{
	line-height:1.1em;
}

#warning {
	font-size: small;
	line-height: 1em;
	font-weight: bold;
	color: #0069b3;
}

#practice {
	border: 1px solid blue;
}
#graph {
	white-space: pre;
	line-height: 1em;
	font-family: mono-space;
}