body {
	margin: 0px;
	padding: 0px;
}


#pagewidth {
	width: 760px;
	margin: 0px;
	padding:0px;
	text-align: center;
}

#main {
	text-align: left;
	display: block;
	padding: 2% 10%;
}


