/* CSS for mobile */

@media (max-width:767px) {

img {
	/* this prevents wide images from widening the page on mobile */
	max-width: 100%;
}

}

/* ul.table works like a table on desktop and a list on mobile */

ul.table {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0 !important; /* overrides div.node ul styling */
	display: block;
}

ul.table > li {
	display: inline-block;
	list-style-image: none !important; /* overrides div.node ul li styling */
	padding-left: 0 !important; /* overrides div.node ul li styling */
}

@media (min-width:768px) {

ul.table {
	display: table;
}

ul.table > li {
	display: table-cell;
}

}
