/*!************************************************************
 *  ____   _   _  ___     _  ___  _   _         ___ __     __ *
 * / ___| | | | ||_ _|   | ||_ _|| \ | |       |_ _|\ \   / / *
 * \___ \ | |_| | | | _  | | | | |  \| | _____  | |  \ \ / /  *
 *  ___) ||  _  | | || |_| | | | | |\  ||_____| | |   \ V /   *
 * |____/ |_| |_||___|\___/ |___||_| \_|       |___|   \_/    *
 **************************************************************
 *********** THE BOOTSTRAP THEME BASED ON "SHIJIN 3" **********
 **************************************************************
 ** Copyright 2015-2016 Augustin Cavalier <waddlesplash>
 ** Colors & some basic styles copied from Shijin 3's "local.css"
 ** Released as MIT license; copyright assigned to Haiku, Inc.
 */

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
body {
	font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
	background: #3B5378 url("/images/bg-page.png") repeat-x scroll 0% 0%;
}

a {
	color: #336698;
}

#page {
	max-width: 965px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width:768px) {
	#logo {
		margin: 0px 0px 0px -23px;
		padding: 10px 0px 0px;
	}
}

.navbar {
	border-radius: 0;
	border: 0;
	margin: 0;
	font-size: 95%;
	padding: 0 8px;
	background: #ffd73a; /* Old browsers */
	background: -moz-linear-gradient(top, #ffe26e 0%, #ffca00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffe26e 0%,#ffca00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffe26e 0%,#ffca00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe26e', endColorstr='#ffca00',GradientType=0); /* IE6-9 */
}
.navbar a {
	color: #333 !important;
}
.navbar a:hover, .navbar a:focus {
	color: #fff !important;
}
@media (min-width:768px) {
	#navbar-inner {
		padding: 0;
	}
	#navbar-inner .collapse {
		padding: 0 3px 0 0;
	}
}
button.navbar-toggle {
	border-color: #44F !important;
	color: #44F !important;
}
button.navbar-toggle:hover, button.navbar-toggle:focus {
	background-color: #88F !important;
}
button.navbar-toggle .icon-bar {
	background-color: #44F !important;
}

.form-control, button {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-radius: 0 !important;
	font-size: 13px;
}
input.form-control {
	background: #ededec; /* Old browsers */
	background: -moz-linear-gradient(top, #f3f6f7 0%, #e1dfda 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f3f6f7 0%,#e1dfda 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f3f6f7 0%,#e1dfda 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f6f7', endColorstr='#e1dfda',GradientType=0); /* IE6-9 */
	border: 1px solid #d0cbc2 !important;
}
button.btn {
	background: #ededec; /* Old browsers */
	background: -moz-linear-gradient(top, #f3f3f3 0%, #e1dfda 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f3f3f3 0%,#e1dfda 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f3f3f3 0%,#e1dfda 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e1dfda',GradientType=0); /* IE6-9 */
	border: 1px solid #d0cbc2 !important;
}
button.btn:hover {
	background: #f2f0eb; /* Old browsers */
}

.toggleopacity img {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
.toggleopacity:hover img {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}

#top-links {
	background: transparent url(/images/topnav-main.png) top left repeat-x;
	width: auto;
	padding: 8px 8px 6px 10px;
	margin: 0px;
	color: #FFF;
	float: right;
	border-radius: 0 0 3px 3px;
}
@media (max-width:424px) {
	#top-links {
		float: left;
		position: relative;
		z-index: 10;
		background: transparent;
	}
}

#preface {
	background: #222f5b url("/images/bg-preface.png") no-repeat scroll left top;
	margin: 0;
	padding: 20px 9px 10px 9px;
	color: #fff;
	font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-size: 115%;
}
#preface-last {
	padding-left: 24px;
}
#preface a:link,
#preface a:visited {
	color: #ff9c00;
	text-decoration: none;
	font-weight: normal;
}
#preface a:hover {
	text-decoration: underline !important;
}
#preface ul {
	padding: 0;
	margin: 0 0 0 15px;
}
#preface p.intro {
	font-size: 125%;
	line-height: 1.7em;
}
.preface-install-links {
	background: url(/images/installer_64.png) no-repeat;
	padding-left: 70px;
	padding-top: 0px;
	min-height: 80px;
	margin-top: 20px;
}
.preface-community-links {
	background: url(/images/people_64.png) no-repeat;
	padding-left: 70px;
	padding-top: 0px;
	min-height: 80px;
}
#preface h2.fundraising {
	font-size: 1.3em;
	border: none !important;
	color: #94CE18;
	margin-top: 0px;
}
#preface h2 {
	font-size: 1.0em;
	line-height: 1.0em;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 0px;
}

#main-front {
	background-color: #fff;
	margin: 0;
	padding: 10px 0 10px 0;
}

.panel {
	border-radius: 0;
	font-size: 86%;
	margin: 0;
	margin-top: 20px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f4f7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f0f4f7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f0f4f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f4f7',GradientType=0); /* IE6-9 */
}
.panel-heading {
	background-color: #FF9C00 !important;
	color: #fff !important;
	text-align: right;
	padding: 8px 8px 6px 46px;
	border-radius: 0;
	margin-bottom: 12px;
	position: relative;
}
.panel-heading h4 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}
.panel-heading .block-icon {
	width: 48px;
	height: 48px;
	position: absolute;
	left: 1px;
	top: -10px;
}
.panel ul {
	margin: 0;
	padding: 0 0 5px 10px;
	list-style: none;
}
.panel li {
	margin-bottom: 4px;
}
.panel ul li:before {
	content: '\00BB';
	padding-right: 6px;
}
.panel a {
	font-weight: 600;
}

.title {
	font-family: Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-weight: 600;
	margin-bottom: 0px;
}
h1.title, h2.title {
	border-bottom: 1px solid #D6DDB9;
	color: #22476A;
}
h1.title {
	font-size: 22px;
	line-height: 28px;
}
h2.title {
	font-size: 18px;
	line-height: 20px;
}
h2.title a {
	color: #22476A !important;
}
h2.title a {
	text-decoration: none;
}
.meta {
	font-size: 0.9em;
	margin-bottom: 20px;
}

div.node {
	font-size: 13px;
	line-height: 22px;
}
div.node.teaser {
	margin: 0px 0px 50px;
}
div.node .links {
	float: right;
	font-size: 95%;
}
div.node .links * {
	margin-left: 5px;
}
div.node ::selection {
	background-color: #fff;
	color: #39f;
}
div.node ::-moz-selection {
	background-color: #fff;
	color: #39f;
}
div.node h1, div.node h2, div.node h3 {
	color: #22476A;
}
div.node h1 {
	font-size: 21px;
}
div.node h2 {
	font-size: 17px;
}
div.node h3 {
	font-size: 16px;
	font-weight: 600;
}
div.node ul {
	list-style-type: none;
	padding-left: 20px;
}
div.node li:before {
	content: "\26AB ";
	color: #ffd73a;
	margin-right: 6px;
}
div.node li p {
	display: inline; /* HACK/FIXME, but some pages need this. */
}
div.col-md-12 {
	padding: 0px 35px;
}

ul.pagination {
	margin: 10px 0;
	float: right;
}

a.blog-item {
	font-weight: 600;
	color: #22476A;
}
a.readmore-item {
	padding: 0px 0px 0px 18px !important;
	background: transparent url("/images/read_more_16.png") no-repeat scroll left center;
}

.terms {
	background: transparent url("/images/link_tags.png") no-repeat scroll 0% 0%;
	display: inline;
	margin-left: 10px;
	font-size: 1em;
}
.terms::before {
	content: "Tags:";
	display: inline;
	margin-left: 18px;
}

footer {
	background: #f0efed; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f7 0%, #e8e7e4 100%, #fefcea 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f8f8f7 0%,#e8e7e4 100%,#fefcea 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f8f8f7 0%,#e8e7e4 100%,#fefcea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f7', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
	border: 1px solid #c0bdba;
	color: #555;

	font-size: 75%;
	margin-bottom: 40px;
	padding: 19px;
}
footer p.last {
	margin: 0;
}
footer a, footer span.glyphicon {
	color: #FF6C00 !important;
}
