{{ partial "header.html" . }}
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="main-front">
		<!-- Sidebar -->
		<div class="col-md-3">
		{{ partial "sidebar_blog.html" . }}
		</div>

		<div class="col-md-9">
			<div class="node">
				<h1 class="title">{{ .Title }}</h1>
				<div class="meta">
					Blog post by <a href="/blog/{{ lower .Params.author }}/">{{ .Params.author }}</a> on {{ .Date.Format "Mon, 2006-02-01 15:04" }}
						{{ if .Params.tags }}
						<div class="terms">
						{{ range $i, $e := .Params.tags }}{{if $i}}, {{end}}
							<a href="/tags/{{ $e | urlize }}" rel="tag">{{ . }}</a>{{ end }}
						</div>
					{{ end }}
				</div>
				<p>{{ .Content }}</p>
			</div>
			{{ partial "discourse.html" . }}
		</div>
	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
