{{- if .Site.Params.BuildTypeIsDeploy -}}
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
<ol class="breadcrumb">
	<li><a href="/">Home</a></li>
	{{ range $index, $element := split $url "/" }}
		{{ $.Scratch.Add "path" $element }}
		{{ if ne $element "" }}
			{{ $.Scratch.Add "path" "/" }}
			{{ range first 1 (where $.Site.Pages "Permalink" ($.Scratch.Get "path")) }}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ end }}
		{{ end }}
	{{ end }}
</ol>
{{- end -}}
