<footer>
	<div style="float: right">
		<a href="https://www.netlify.com">
			<img src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Deploys by Netlify" />
		</a>
	</div>

	<p>&copy; 2001-{{ now.Format "2006" }} Haiku, Inc. &mdash; Haiku&reg; and the HAIKU logo&reg; are registered trademarks of <a href="https://www.haiku-inc.org" target="_blank">Haiku, Inc.</a></p>
	<p class="last">
		<a href="/index.xml">Main feed</a> |
		<a href="/blog/index.xml">Blog-O-Sphere feed</a> |
		<a href="/community/organization/policies/">Community policies</a> |
		<a href="https://twitter.com/haikuOS">Twitter</a> |
		<a href="https://mastodon.xyz/@haiku">Mastodon</a> |
		<a href="https://www.linkedin.com/company/haiku-inc-">LinkedIn</a>
	</p>
</footer>
