<!-- START: Donation Meter -->
<style>
.fundraising {
	text-align: center;
	font-size: 1.6em;
	margin-bottom: 40px;
	height:auto;
	color: #000;
}
.fundraising-meter {
	background-image:url("/images/piggy-bank.png");
	background-repeat:no-repeat;
	background-position: center top;
	width: 100%;
}
.fundraising-progress-bar-borders {
	position: relative;
	left:48px;
	width: 20px;
	height:128px;
	border: 1px solid #666;
	margin: auto;
	border-right: 1px solid #060606;
	border-bottom: 1px solid #060606;
	opacity: 0.9;
}
.fundraising-progress-bar-background {
	position:relative;
	width: 100%;
	height: 100%;
	background-color: #FAFAFA;
	font-size: 1.2em;
	opacity: 0.9;
    border: 1px solid #666;
	margin: 0px;
    top: -2px;
	left: -2px;
	width: 20px;
	height:128px;
}
#fundraising-progress-bar-filler {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 0px;
	background: #3C3;
	border-top: 1px solid #666;
	transition: height 0.8s ease-out;
}
#fundraising-goal-text, #fundraising-current-text {
	position: relative;
	left: 26px;
}
#fundraising-goal-text {
	top: -26px;
	border-bottom: 1px solid #666;
	font-size: 0.8em;
}
#fundraising-current-text {
	top: -4px;
	border-top: 1px solid #666;
	font-size: 0.8em;
}
#preface ul.fundraising-details {
	margin-top: 10px;
}
</style>

<h2 class="fundraising">Fundraising 2020</h2>
<div class="content">
  <div style="margin-top: 36px;">
    <div class="fundraising-meter">
      <div class="fundraising-progress-bar-borders">
        <div class="fundraising-progress-bar-background">
          <span id="fundraising-goal-text">Loading...</span>
          <div id="fundraising-progress-bar-filler">
            <span id="fundraising-current-text">Loading...</span>
          </div>
        </div>
      </div>
      <p style="text-align: center; margin-top: 40px">
        Updated: <span id="fundraising-updated">Loading...</span><br/><br/>
        €1 = <span id="fundraising-eur-to-usd">Loading...</span><br/>
        <a href="https://haiku-inc.org/donate" target="_blank">Submit a Donation</a><br/>
      </p>
    </div>
  </div>
</div>
<!-- END: Donation Meter -->
