<h2 class="fundraising">Fundraising 2018</h2>
<div class="content">
  <div style="margin-top: 30px;">
    <div class="fundraising-meter" style="width: 260px; min-height: 126px; max-width: 100%; background-image:url(/files/images/piggy-bank.png);background-repeat:no-repeat; background-position: left; font-size: 0.9em; padding-bottom: 8px;">
      <div style="position:relative;
            border-right: 1px solid #060606; border-bottom: 1px solid #060606;
            opacity: 0.9; left:96px; width: 20px; height:128px;">
        <div style="position:relative; margin: 0px; font-size: 1.2em;
              border: 1px solid #666; background-color: #FAFAFA;
              top: -2px; left: -2px; width: 20px; height:128px;">
          <span style="top:-19px; position: relative; left:26px;
                border-bottom: 1px solid #666;">Goal:&nbsp;$10,000</span>
          <div style="position:absolute; margin:0px;
                background: #3C3; bottom:0px; width: 20px; height: 69px;">
            <span style="position: relative; left:22px; top: -18px;
                  border-bottom: 1px solid #666;">$5365</span>
          </div>
        </div>
      </div>
    </div>
    <ul class="fundraising-details">
      <li>Updated: August 1st</li>
      <li>€1 = $1.166242</li>
      <li><a href="http://www.haiku-inc.org/donations.html#online" target="_blank">Submit a Donation</a></li>
      <li><a href="http://www.haiku-inc.org/donations-analysis.php" target="_blank">Donation Analysis</a></li>
    </ul>
  </div>
</div>
