<h2 class="fundraising">Fundraising 2018</h2>
<div class="content">
  <div style="margin-top: 36px;">
    <div class="fundraising-meter">
      <div class="fundraising-progress-bar-borders">
        <div class="fundraising-progress-bar-background">
          <span class="fundraising-goal-text">Goal:&nbsp;$10,000</span>
          <div id="fundraising-progress-bar-filler" style="height: 69px;">
            <span id="fundraising-current-text">$5,365</span>
          </div>
        </div>
      </div>
      <ul class="fundraising-details">
        <li>Updated: <span id="fundraising-updated">August 1st</span></li>
        <li>€1 = <span id="fundraising-eur-to-usd">$1.166242</span></li>
        <li><a href="http://www.haiku-inc.org/donations.html#online" target="_blank">Submit a Donation</a></li>
        <li><a href="http://www.haiku-inc.org/donations-analysis.php" target="_blank">Donation Analysis</a></li>
      </ul>
    </div>
  </div>
</div>
