
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ if .Description }}<meta name="description" content="{{ .Description }}">{{ end }}
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ delimit .Params.tags "," }}">{{ end }}
	<meta name="copyright" content="2001-2019 Haiku Inc.">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:url" content="{{ .Permalink }}">
	{{ if in (slice "news" "blog") .Type }}
	<meta property="og:type" content="article">
	<meta property="og:description" content="{{ plainify .Summary | truncate 250 }}">
	<meta property="og:published_time" content="{{ .Date }}">
	{{ if isset .Params "author" }}
	<meta property="og:author" content="{{ .Params.author }}">
	{{ end }}
	{{ $baseurl := .Site.BaseURL }}
	{{ range $i, $e := findRE "(?:<img[^>]*src=\")[^\"]*" .Content 4 }}
	<meta property="og:image" content="{{ $e | replaceRE ".*\"" $baseurl }}">
	{{ end }}
	{{ else }}
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ .Site.BaseURL }}images/haiku_600x315.png">
	{{ end }}

