<a href="/"><img src="/images/haiku_logo_white.svg" alt="Home" id="logo" height="100" style='padding-left: 3px;'></a>
<div id="top-links">
	<a href="/get-haiku" title="Get Haiku!" class="toggleopacity"><img src="/images/download_32.png" text="Get Haiku!" alt="Download"></a>
	<a href="/contact" title="Contact the Haiku Project" class="toggleopacity"><img src="/images/App_Mail_32.png" text="Contact the Haiku Project" alt="Contact"></a>
	<a href="/community/donating_to_haiku" title="Make a donation to the Haiku Project" class="toggleopacity"><img src="/images/App_Finance_32.png" alt="Donate" text="Make a donation to the Haiku Project"></a>
	<a href="https://dev.haiku-os.org" title= "Report bugs" class="toggleopacity"><img src="/images/bug_tracker_32.png" alt="Report Bugs" text="Report bugs related to Haiku"></a>
	<a href="https://depot.haiku-os.org" title="Download apps for Haiku from HaikuDepot" class="toggleopacity"><img src="/images/installer_32.png" alt="HaikuDepot" text="Download apps for Haiku from HaikuDepot"></a>
</div>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<button class="navbar-toggler collapsed"
		id="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbar-collapseme"
		aria-controls="navbar-collapseme"
		aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="navbar-collapseme">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
			<li class="nav-item"><a class="nav-link" href="/community/">Community</a></li>
			<li class="nav-item"><a class="nav-link" href="/development/">Development</a></li>
			<li class="nav-item"><a class="nav-link" href="/documents/">Documents</a></li>
		</ul>
		<form class="form-inline" role="search" action="https://duckduckgo.com">
			<input type="hidden" name="sites" value="https://www.haiku-os.org">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="q">
				<span class="input-group-append">
					<button type="submit" class="btn btn-outline-secondary">&#x1f50d;</button>
				</span>
			</div>
		</form>
	</div><!-- /.navbar-collapse -->
</nav>
