{{ $now := .Site.LastChange.Unix }}

{{ $.Scratch.Add "haveCurrentEvents" 0 }}
{{ range where (where .Site.Pages "Type" "conference") ".Params.event" "!=" nil }}
	{{ if ge (time .Params.event.end).Unix $now }}
		{{ $.Scratch.Add "haveCurrentEvents" 1 }}
	{{ end }}
{{ end }}

{{ if ge ($.Scratch.Get "haveCurrentEvents") 1 }}
<div class="card">
	<div class="card-heading">
		<div class="block-icon" style="background: transparent url(/images/File_Text_48.png) no-repeat scroll left center;"></div>
		<h4 class="title">Upcoming Events</h4>
	</div>
	<ul>
	{{ range last 10 (where .Site.Pages.ByDate "Type" "conference") }}
		{{ if not (isset .Params "event") }}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ else if ge (time .Params.event.end).Unix $now }}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a><br/><span style='font-style: italic;'>&nbsp;&nbsp;&nbsp;&nbsp;{{ .Params.event.start }}&nbsp;&mdash;&nbsp;{{ .Params.event.end }}</span></li>
		{{ end }}
	{{ end }}
	</ul>
</div>
{{ end }}
