<div class="panel panel-default">
	<div class="panel-heading">
		<div class="block-icon" style="background: transparent url(/images/folder_haiku_48.png) no-repeat scroll left center;"></div>
		<h4 class="title">Menu</h4>
	</div>
	<ul>
	{{ $pageURL := .RelPermalink }}
	{{ $basePageComp := index (split $pageURL "/") 1 }}
	{{ if eq $basePageComp "about" }}
		<li><a href="/about/faq">General FAQ</a></li>
		<li><a href="/about/movies">Haiku Movies</a></li>
		<li><a href="/slideshows/haiku-1">Haiku Slideshow</a></li>
		<li><a href="/about/history">Project History</a></li>
		<li><a href="/about/haiku_inc">Haiku, Inc.</a></li>
		<li><a href="/about/trademark_policy">Trademark Policy</a></li>
		<li><a href="/about/security">Security</a></li>
	{{ else if eq $basePageComp "community" }}
		<li><a href="/community/ml">Mailing Lists</a></li>
		<li><a href="/community/irc">IRC Channels</a></li>
		<li><a href="/community/donating_to_haiku">Donating to Haiku</a></li>
		<li><a href="/get-haiku">Get Haiku!</a></li>
		<li><a href="/contribute/">Contribute to Haiku</a></li>
		<li><a href="/community/gsoc">Google Summer of Code</a></li>
		<li><a href="/community/organization">Organization</a></li>
		<li><a href="/community/social-media">Social Media</a></li>
	{{ else if eq $basePageComp "development" }}
		<li><a href="/development/faq">Development FAQ</a></li>
		<li><a href="/development/getting-started">Getting Started</a></li>
		<li><a href="/development/coding-guidelines">Coding Guidelines</a></li>
		<li><a href="/development/icon-guidelines">Icon Guidelines</a></li>
	{{ else if eq $basePageComp "contribute" }}
		<li><a href="/community/ml">Mailing Lists</a></li>
		<li><a href="/development/faq">Development FAQ</a></li>
		<li><a href="/development/getting-started">Getting Started</a></li>
		<li><a href="/development/coding-guidelines">Coding Guidelines</a></li>
		<li><a href="/development/icon-guidelines">Icon Guidelines</a></li>
		<li><a href="/community/gsoc">Google Summer of Code</a></li>
		<li><a href="/community/donating_to_haiku">Donating to Haiku</a></li>
	{{ end }}
	</ul>
</div>
