{{ partial "header.html" . }}
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="main-front">
		{{ partial "breadcrumbs.html" . }}

		{{ $pageURL := .URL }}
		{{ $basePageComp := index (split $pageURL "/") 1 }}
		{{ $haveSidebar := in "about community development" $basePageComp }}

		{{ if $haveSidebar }}
		<div class="col-md-9 col-md-push-3">
		{{ else }}
		<div class="col-md-12">
		{{ end }}
			<div class="node">
				<h1 class="title">{{ .Title }}</h1>
				{{ if .Params.tags }}
					<div class="meta">
						<div class="terms">
						{{ range $i, $e := .Params.tags }}{{if $i}}, {{end}}
							<a href="/tags/{{ $e | urlize }}" rel="tag">{{ . }}</a>{{ end }}
						</div>
					</div>
				{{ end }}
				<p>{{ .Content }}</p>
			</div>
		</div>

		{{ if $haveSidebar }}
		<!-- Sidebar -->
		<div class="col-md-3 col-md-pull-9">
		{{ partial "sidebar_menu.html" . }}
		</div>
		{{ end }}

	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
