p.caption { font-style:normal; font-size:1em; color:black; text-align:left }
p.further { font-style:italic; font-size:0.8em; color:gray; text-align:right; display: block !important; }
p.navi { font-style:normal; font-size:1em; color:black; text-align:center; margin-top:20px }
li { vertical-align: bottom; padding: 3px; }
hr { border: 1px solid #D6DDB9; height: 1px; background: #D6DDB9; margin: 6.6px 0; }

@media (max-width:767px) {
	img {
		/* this prevents wide images from widening the page on mobile */
		max-width: 100%;
	}
}

ul.table {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0 !important; /* overrides div.node ul styling */
	display: block;
}

ul.table > li {
	display: inline-block;
	list-style-image: none !important; /* overrides div.node ul li styling */
	padding-left: 0 !important; /* overrides div.node ul li styling */
}

@media (min-width:768px) {
	ul.table {
		display: table;
	}

	ul.table > li {
		display: table-cell;
	}
}

@media (prefers-color-scheme: dark) {
	p.caption { font-style:normal; font-size:1em; color:#ccc; text-align:left }
	p.further { font-style:italic; font-size:0.8em; color: #888; text-align:right; display: block !important; }
	p.navi { font-style:normal; font-size:1em; color: #ccc; text-align:center; margin-top:20px }
	li { vertical-align: bottom; padding: 6px;}
	hr { border: 1px solid #333; height: 1px; background: #222; margin: 6.6px 0; }
}
