<!-- Sidebar -->
<div class="col-md-3">
{{ partial "sidebar_events.html" . }}
{{ partial "sidebar_blog.html" . }}
{{ partial "sidebar_news.html" . }}
{{ partial "sidebar_articles.html" . }}
</div>

<div class="col-md-9">
	<div class="node"><h3>What's New in Haiku development</h3></div>

	<div id="activity-tabs">
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#source">Source Activity</a></li>
			<li><a href="#tickets">Ticket Updates</a></li>
			<li><a href="#ml">Mailing List</a></li>
			<li><a href="#pkgs">Packages</a></li>
			<li><a href="#nightlies">Nightly Images</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="source">
				<div style="text-align:right;margin-top:4px"><a target="_blank" href="https://cgit.haiku-os.org/haiku/log/">more</a></div>
			</div>
			<div class="tab-pane" id="tickets">
				<div class="loader"><span>&#8635;</span></div>
				<div style="text-align:right;margin-top:4px"><a target="_blank" href="https://dev.haiku-os.org/timeline">more</a></div>
			</div>
			<div class="tab-pane" id="ml">
				<div class="loader"><span>&#8635;</span></div>
				<div style="text-align:right;margin-top:4px"><a target="_blank" href="https://www.freelists.org/archive/haiku-development/">more</a></div>
			</div>
			<div class="tab-pane" id="pkgs">
				<div class="loader"><span>&#8635;</span></div>
				<div style="text-align:right;margin-top:4px"><a target="_blank" href="https://depot.haiku-os.org/#!/?viewcrttyp=MOSTRECENT">more</a></div>
			</div>
			<div class="tab-pane" id="nightlies">
				<p>The Haiku source is continually built and released for testing purposes nearly every day. You can download and install these latest snapshots to check out the latest features and bug-fixes.</p>
				<p>Be aware that nightly images may be unstable. Additionally, some packages included with official releases need to be installed separately.</p>
				<p>If you're OK with this, you can find further instructions at our <a href="https://download.haiku-os.org/nightly-images/x86_gcc2_hybrid/" target="_blank">Nightly image page</a>.</p>
			</div>
		</div>
	</div>

{{ range first 10 (where .Data.Pages "Type" "!=" "article") }}
	{{ .Render "summary" }}
{{ end }}
</div>
