<a href="/"><img src="/images/logo.png" alt="Home" id="logo"></a>
<div id="top-links">
	<a href="/get-haiku" title="Get Haiku!" class="toggleopacity"><img src="/images/installer_32.png" text="Get Haiku!" alt="Download"></a>
	<a href="/contact" title="Contact the Haiku Project" class="toggleopacity"><img src="/images/App_Mail_32.png" text="Contact the Haiku Project" alt="Contact"></a>
	<a href="/community/donating_to_haiku" title="Make a donation to the Haiku Project" class="toggleopacity"><img src="/images/App_Finance_32.png" alt="Donate" text="Make a donation to the Haiku Project"></a>
</div>
<nav class="navbar navbar-default">
	<div class="container-fluid" id="navbar-inner">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" id="navbar-toggler">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapseme">
			<ul class="nav navbar-nav">
				<li><a href="/about">About</a></li>
				<li><a href="/community">Community</a></li>
				<li><a href="/development">Development</a></li>
				<li><a href="/documents">Documents</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<form class="navbar-form navbar-left" role="search" action="https://www.google.com/search">
					<input type="hidden" name="as_epq" value="site:www.haiku-os.org">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" name="as_q">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">&#x1f50d;</button>
						</span>
					</div>
				</form>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>
