<!doctype html>
<html lang="en">
<head>
	{{ partial "meta.html" . }}
	<meta name="description" content="Haiku is an open-source operating system that specifically targets personal computing. Inspired by BeOS, Haiku is fast and easy to learn but very powerful." />
	<meta name="keywords" content="haiku,haiku os,operating system,beos,open source,openbeos" />

	<title>Home | {{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Permalink }}">
	{{ partial "header.includes.html" . }}
	{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}
</head>
<body>
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="preface">
		<div class="col-md-4" id="preface-first">
			<p class="intro">Haiku is an open-source operating system that
			specifically targets personal computing. Inspired by the BeOS, Haiku is
			fast, simple to use, easy to learn and yet very powerful.</p>
			<ul>
				<li><a href="/about/faq">Frequently Asked Questions</a></li>
				<li><a href="/slideshows/haiku-tour">Haiku Slideshow</a></li>
				<li><a href="/docs/userguide/en/contents.html">Haiku User Guide</a></li>
				<li><a href="/guides">Haiku Guides</a></li>
			</ul>
		</div>
		<div class="col-md-4" id="preface-middle">
			<div style="width: 340px; min-height: 126px;">
				<a href="/get-haiku"><img src="/images/GET_HAIKU.PNG"></a>
			</div>
			<div class="preface-install-links">
				<h2>INSTALL HAIKU</h2>
				<ul>
					<li><a href="/get-haiku/release-notes">Release Notes</a></li>
					<li><a href="/get-haiku/installation-guide">Installation Guide</a></li>
				</ul>
			</div>
			<div class="preface-community-links">
				<h2>MEET THE COMMUNITY</h2>
				<ul>
					<li><a href="/blog">Haiku Blog-O-Sphere</a></li>
					<li><a href="/community/ml">Mailing Lists</a></li>
					<li><a href="/community/irc">IRC Channels</a></li>
					<li><a href="/forum">Forums</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4" id="preface-last">
			<h2 class="fundraising">Fundraising 2016</h2>
			<div class="content">
				<div style="margin-top: 30px;">
					<div style="background-image:url(&quot;/files/images/piggy-bank.png&quot;);background-repeat:no-repeat; background-position: left; font-size: 0.9em; padding-bottom: 8px;">
						<div style="position:relative;
									border-right: 1px solid #060606; border-bottom: 1px solid #060606;
									opacity: 0.9; left:96px; width: 20px; height:128px;">
							<div style="position:relative; margin: 0px; font-size: 1.2em;
										border: 1px solid #666; background-color: #FAFAFA;
										top: -2px; left: -2px; width: 20px; height:128px;">
								<span style="top:-19px; position: relative; left:26px;
											border-bottom: 1px solid #666;">Goal:&nbsp;$35,000</span>
								<div style="position:absolute; margin:0px;
											background: #3C3; bottom:0px; width: 20px; height: 32px;">
									<span style="position: relative; left:22px; top: -18px;
												border-bottom: 1px solid #666;">$8,724</span>
								</div>
							</div>
						</div>
					</div>
					<ul>
						<li>Updated: December 8th</li>
						<li>€1 = $1.0762</li>
						<li><a href="http://www.haiku-inc.org/donations.html#online" target="_blank">Submit a Donation</a></li>
						<li><a href="http://www.haiku-inc.org/donations-analysis.php" target="_blank">Donation Analysis</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="main-front">
		<!-- Sidebar -->
		<div class="col-md-3">
		{{ partial "sidebar_blog.html" . }}
		{{ partial "sidebar_news.html" . }}
		{{ partial "sidebar_articles.html" . }}
		</div>

		<div class="col-md-9">
		{{ range first 10 (where .Data.Pages "Type" "!=" "article") }}
			{{ .Render "summary" }}
		{{ end }}
		</div>
	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
