{{ partial "header.html" . }}
<div id="page">
{{ partial "navbar.html" . }}
	<div class="row" id="main-front">
		<!-- Sidebar -->
		<div class="col-md-3">
		{{ partial "sidebar_blog.html" . }}
		</div>

		<div class="col-md-9">
		{{- if (isset .Params "author") -}}
			{{ $paginator := .Paginate (where .Site.Pages ".Params.author" "==" .Params.author) }}

			{{- range $paginator.Pages -}}
				{{ .Render "summary" }}
			{{- end -}}
			{{ partial "pagination.html" . }}
		{{ else }}
			{{ $paginator := .Paginate (where (where .Site.Pages.ByDate.Reverse "Type" "blog") ".Params.date" "!=" nil) }}

			{{- range $paginator.Pages -}}
				{{ .Render "summary" }}
			{{- end -}}
			{{ partial "pagination.html" . }}
		{{- end -}}
		</div>
	</div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
