<div class="node teaser">
	<h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	<div class="meta">
		{{ if (isset .Params "author") }}
			Blog post by <a target="_blank" href="https://discuss.haiku-os.org/u/{{ lower .Params.author }}/">{{ .Params.author }}</a> on {{ .Date.Format "Mon, 2006-01-02 15:04" }}
		{{ else }}
			News posted on {{ .Date.Format "Mon, 2006-01-02 15:04" }}
		{{ end }}
		<div class="terms">
		{{ range $i, $e := .Params.tags }}{{if $i}}, {{end}}
			<a href="/tags/{{ $e | urlize }}" rel="tag">{{ . }}</a>{{ end }}
		</div>
	</div>
	<p>{{ .Summary }}</p>
	<div class="links">
		{{ if (isset .Params "author") }}
			<a class="blog-item" href="{{ .Parent.RelPermalink }}">{{ .Parent.Params.title }}</a>
		{{ end }}
		<a class="readmore-item" href="{{ .Permalink }}">Read More</a>
	</div>
</div>
