/*
 * Copyright 2006-2008, Haiku.
 * Distributed under the terms of the MIT License.
 *
 * Authors:
 *      Simon Kennedy <sffjunkie@yahoo.co.uk>
*/

/* Standard Tags */
html {
	overflow-y: scroll;
}

body {
	color: black;
	background-color: white;
	font-family: sans-serif;
	line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
	margin-left: 0em;
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

h1 {	font-size: 190%; }
h2 {	font-size: 170%; }
h3 {	font-size: 150%; }
h4 {	font-size: 130%; }
h5 {	font-size: 110%; }
h6 {	font-size: 100%; }

h1 {	color: #336699; }
h2 {	color: #336699; }
h3 {	color: #336699; }
h4 {	color: #336699; }
h5 {	color: #336699; }
h6 {	color: #336699; }

p {
	margin-left: 2em;
	margin-right: 2em;
}

a.external {
	padding-left: 17px;
	background-image: url(./images/external_link.png);
	background-repeat: no-repeat;
	background-position: center left;
}

img {
	margin: 0em;
	padding: 0em;
	border-style: none;
}

acronym[title], abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #58B2CB;
}

hr {
	clear: both;
}

/* Lists */
ol {
	margin-left: 2em;
}

ul {
	margin-left: 2em;
	list-style-type: square;
}

ul ul {
	list-style-type: disc;
}

ol ul, ul ol, ul ul, ol ol {
	margin-left: 0em;
}

ul.nomarker {
	list-style: none;
	list-style-position: outside;
/*	margin-left: 0em;*/
	padding-left: 0em;
}

ul.nomarker p {
	margin-top: 0em;
	margin-bottom: 0em;
}

li p, li table {
	margin-left: 0em;
}


/* Definition Lists */
dl {
	margin-left: 2em;
}

dd p {
	margin-left: 0em;
	margin-top: 0.25em;
}

dd .programlisting {
	margin-left: 0em;
	margin-top: 0.25em;
}

/* Tables */
table {
	margin: auto 2em;

	border: 1px solid #d5d5d5;
	border-collapse: collapse;
}

td, th {
	vertical-align: top;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 1px solid #d5d5d5;
	text-align: left;
}

.graphiclist table {
	border: none;
	border-collapse: separate;
}

.graphiclist th, .graphiclist td {
	border: none;
	text-align: center;
	background-color: transparent;
}

.graphiclist div {
	margin: 0;
}

table[border="0"] {
	border: none;
}

th {
    color: black;
	background-color: #EEEAEA;
}

td p {
	margin: 0.25em 0em 1em 0em;
}

td p:last-child {
	margin-bottom: 0.25em;
}

td table {
	margin-left: 0em;
	margin-right: 0em;
}

table[border="0"] td, table[border="0"] th {
	border: none;
}

/* Navigation header */
#header {
	margin: 0em;
	width: 100%;
}

#headerT {
	width: 100%;
	min-height: 28px;
}

#headerTL {
	Width: 20%;
	float: left;
}

#headerTL img {
	margin-right: 0.5em;
}

#headerTC {
	width: auto;
	margin-left: 21%;
	margin-right: 21%;
	text-align: center;
	font-weight: bold;
}

#headerTR {
	Width: 20%;
	float: right;
}

#headerTR div {
	float: right;
	margin-left: 0.5em;
}

#headerB {
	width: 100%;
	clear: both;
}

#headerBL img {
	margin-right: 0.5em;
}

#footer {
	width: 100%;
	margin: 0em;
}

#footerT {
	width: 100%;
	clear: both;
	padding-bottom: 0.4em;
}

#footerB {
	width: 100%;
	height: 35px;
}

#footerBL {
	Width: 15%;
	float: left;
}

#footerBC {
	width: auto;
	margin-left: 16%;
	margin-right: 16%;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
}

#footerBR {
	Width: 15%;
	float: right;
}

#footerBR div {
	float: right;
	margin-left: 0.5em;
}

#licenseFooter {
    width: 100%;
    clear: both;
	font-size: 0.9em;
}

#licenseFooterBL {
	width: 15%;
	float: left;
}

#licenseFooterBC {
    width: auto;
	vertical-align: top;
	text-align: center;
}

#licenseFooterBR {
    width: 15%;
    float: right;
	text-align: right;
}

.navighome {
	/* Set to width and height of home navigation graphic */
	min-width: 24px;
	height: 24px;

	margin: 0em 0em 0em 0.2em;
	padding: 0px;
}

.navigboxed {
	width: 1.6em;

	margin: 0em 0em 0em 0.2em;
	padding: 0.2em 0em;

	text-align: center;
	font-family: monospace;
	font-size: 14px;

	border: 1px solid #c0c0c0;
	background-color: #f3f3f3;
}

.navigboxed a {
	display: block;
	text-decoration: none;
}

.navigboxed a:hover {
	text-decoration: underline;
}

.book .titlepage h1 {
	margin-top: 0;
	padding-top: 0;
}

/* Table Of Contents */
.toc ul {
	margin-top: 0em;
	margin-left: 0em;
}

.toc p b {
	margin-top: 0.25em;
	font-size: 120%;
}

.toc ul li {
	margin-top: 0.25em;
}

.toc ul li ul li {
	margin-top: 0em;
}

.book .toc ul {
	list-style-image: url(./images/square_blue.png);
}

.book .toc ul ul, .part .toc ul {
	list-style-image: url(./images/square_yellow.png);
}

.chapter .toc ul {
	list-style-image: url(./images/square_green.png);
}

.section .toc ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.section .toc ul li {
	padding-top: 0;
	padding-left: 0;
	margin-bottom: 0.2em;
}

li.tocbreak {
	padding-top: 0.75em;
}

/* Index */
.indexdivlist {
	line-height: 150%;
	list-style-type: none;
	padding-left: 0em;
	margin: 1em 0em 1em 0em;
	font-family: monospace;
}

.indexdivlist li {
	display: inline;
	padding-left: 0em;
	margin-left: 0em;
	margin-right: 0.3em;

	/* Copied to match h3 */
	font-size: 150%;
	color: #5a5a5a;
}

.indexdivlist li a, .indexdivlist li a:visited {
	color: #336699;
}

.indexdiv h3 {
	font-family: monospace;
	padding: 0em;

	margin-right: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
}

.indexdiv>dl {
	margin: 0em 0em 0.25em 2em;
}

.indexdiv>dl>dt {
	margin-top: 0.2em;
}

.indexdiv>dl dd dt {
	margin-top: 0.2em;
}

/* Code Elements */
.code {
	font-family: monospace !important;
}

.classname {
	color: #006400;
}

.methodname {
	color: purple;
}

.function, .fsfunc, .methodsynopsis.c .methodname {
	color: #008080;
}

.parameter, .pdparam {
	color: #991122;
}

.type, .modifier, .void {
	color: #5c5f05;
}

.constant {
	color: #0000ff;
}

.varname {
	color: #000080;
}

.comment {
	color: #008000;
}

.symbol {
	color: #808000;
}

.methodsynopsis, .constructorsynopsis, .destructorsynopsis,
.funcprototype,  .programlisting,      .fieldsynopsis {
	width: auto;
	margin: 0.5em 2em;
	padding: 0.5em;
	display: block;
}

.funcsynopsis {
	margin-left: 0em;
	margin-right: 0em;
	display: block;
}

.programlisting {
	border: 1px solid #d5d5d5;
	background-color: #fafafa;
}

.programlisting.example.cpp {
	background-image: url(./images/cpp.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.programlisting.example.c {
	background-image: url(./images/c.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.methodsynopsis, .constructorsynopsis, .destructorsynopsis,
.funcprototype, .fieldsynopsis, .programlisting.definition {
	border: 1px solid #c0c0c0;
	background-color: #f3f3f3;
}

.synopsisgroup {
	width: auto;
	margin: 0.5em 2em;
	border: 1px solid #c0c0c0;
	background-color: #f3f3f3;
}

.synopsisgroup .constructorsynopsis, .synopsisgroup .destructorsynopsis,
.synopsisgroup .methodsynopsis, .synopsisgroup .funcprototype,
.synopsisgroup .fieldsynopsis {
	margin: 0em 0em 0em 0em;
	padding: 0.3em 0.5em 0.3em 0.5em;
	border: none;
}

.screen {
	margin: 0.5em 2em;
	padding: 0.5em;
	display: block;
	border: 1px solid silver;
	background-color: #fafafa;
}

/* Callout Lists */
.calloutlist table {
	margin-right: 2em;
	border-style: none;
}

.calloutlist tr td:first-child {
	padding-right: 1em;
}

.calloutlist th, .calloutlist td {
	padding: 0em;
	border-style: none;
}

.calloutlist td p {
	margin-top: 0em;
	margin-left: 0em;
}

.calloutlist td .programlisting {
	margin-left: 0em;
	margin-right: 0em;
}

/*.itemizedlist .itemizedlist, .orderedlist .orderedlist,
.itemizedlist .orderedlist,  .orderedlist .itemizedlist {
	margin-left: 0em;
	margin-right: 0em;
}

.itemizedlist p, .orderedlist p, .variablelist p {
	margin: 0.5em 0em 0.5em 0em;
}

li .programlisting, li .screen, li .programlistingco {
	margin-left: 0em;
	margin-right: 0em;
}
*/

.qandaset .programlisting, .qandaset .screen {
	margin-left: 0.5em;
	margin-right: 0em;
}

.blockquote {
	width: auto;
	margin: 0em 2em 2em 2em;
}

.blockquote p {
	margin-bottom: 0em;
	margin-left: 0em;
}

.attribution {
	text-align: right;
}

li .informaltable table {
	margin-left: 0em;
}

dt span.part a {
	line-height: 200%;
}

.even {
	background-color: #aaddaa;
}

.figure pre {
	margin-left: 0em;
	margin-right: 0em;
}

/* Admonitions */
.admonition {
	display: table;
	margin: 0.5em 2em;
}

dd .admonition, td .admonition {
	margin-left: 0em;
	padding-left: 0em;
}

.admonition .icon {
	float: left;
}

.admonition .title {
	padding: 0.2em 0em;
	font-weight: bold;
}

.admonition .graphic {
	padding-left: 4px;
}

.admonition .graphic .text {
	margin-left: 35px;
}

.admonition ul, .admonition ol {
	margin-left: 0em;
	padding-left: 2em;
}

.admonition p {
	margin-top: 0em;
	margin-left: 0em;
	padding-left: 0em;
}

.admonition p:last-child {
	margin-bottom: 0em;
}

.note table, .warning table, .important table, .caution table {
	margin-left: 0em;
}

.note table p, .warning table p, .important table p, .caution table p {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

.note th, .warning th, .important th, .caution th {
	padding-left: 0.5em;
	background-color: transparent;
}

li .note, li .warning, li .important, li .caution {
	margin-left: 0em;
}

.note .programlisting, .warning .programlisting,
.important .programlisting, .caution .programlisting,
li .programlisting, td .programlisting {
	margin: 0.5em 0em;
}

.qandaset {
	margin-left: 2em;
}

.qandaset p {
	margin-top: 0;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
}

literallayout.title {
	font-weight: bold;
	margin-left: 0em;
	padding-left: 0em;
}

table.blockquote, .blockquote {
	margin-bottom: 0em;
	padding-bottom: 0em;
}

.author, .authorgroup {
	font-weight: bold;
	color: gray;
}

.subtitle {
	margin-left: 0em;
	margin-top: 0em;
}

.figure {
	margin-left: 2em;
}

.mediaobject {
	margin-left: 2em;
}

.keycap, .keysym {
	font-family: monospace;
	border: 1px solid #d5d5d5;
	padding-left: 0.1em;
	padding-right: 0.1em;
	background-color: #fafafa;
}

.signal {
	font-family: monospace;
}

.deprecated {
	color: #696969 !important;
	text-decoration: line-through !important;
}

.revhistory {
	border: 1px solid black;
	border-collapse: collapse;
}

.revhistory tr {
	border-bottom: 1px solid black;
}

.revhistory ul {
	padding-left: 0.25em;
}

.revhistory p {
	margin-left: 0em;
	margin-top: 0em;
}

.footnotes hr {
	margin-left: 0em;
	width: 10%;
}

.classheader .link.overview {
	margin-top: 0;
	margin-left: 3em;
}

.classheader table td .toc ul {
	padding: 0;
	margin-left: 3em;
}

